.logo {
    display: inline-block;
    }

.nav-links {
    list-style: none;
    }

.nav-item a {
    display: inline-block;
    margin-top: 14px;
    padding: 2px 15px;
    text-decoration: none;
    color: white;
    }

.nav-item:hover a {
    color: #CB00F8;
    border-bottom: 0.5px solid #01FEFF;
    }

.navLogoImg {
    width: 50px;
    padding-left: 10px;
    }

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    border-bottom: 0.3px solid white;
    padding: 0px;
    height: 46px;
    margin-top: 0px;
}
.nav-links {
    display: flex;
    padding-right: 10px;
} 
nav {
    width: 100%;
    z-index: 4;
}
