/*
#CDD7D6 Light Grey    light grey
#FFFFFF White        it's white
*/

/* NEW PALETTE:
#000000 Black
#CB00F8 Fuchsia
#01FEFF Neon Blue
 */

body{
    background-color: #000000;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dropdown-menu {
    max-height: 265px;
    overflow-y: auto;
}
.bg-med-gray{
    background-color: #222222;
}

.text-white{
    color: white;
}
.text-blue {
    color: #01FEFF;
}
.text-fuchsia{
    color: #CB00F8;
}


.font-roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 24px;
}
.bg-black{
    background-color: #000000;
}

.card {
    width: 95%;
    height: 12rem;
    overflow: hidden;
}
.newCard {
    width: 95%;
    height: 12rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

select:hover{
    background-color: #CB00F8;
}
.map{
    height: 650px;
    width: 100%;
    
}

.header-img {
    width: 90%;
}

.today-img {
    width: 70%;
}

.nav-brand-img {
    width: 20%;
}

.navbar {
    height: 10vh;
    border-radius: 2px;
}

.button {
    box-shadow: 2px 2px 2px 1.5px rgba(34, 34, 34, 0.35);
    width: 20%;
}

.button:hover {
    box-shadow: 0px 0px 10px 3px rgba(203, 0, 248, 0.6)
}

.button:active {
    box-shadow: 0px 0px 0px 0px rgba(34, 34, 34, 0.35)
}

.subheading-hr {
    color: white;
}

.card-hr {
    color: white;
}

#card-body::-webkit-scrollbar {
    width: 8px;
    background-color: #383838;
}

#card-body::-webkit-scrollbar-thumb {
    background-color: #CB00F8;
    /* outline: 1px solid #222222; */
}

.about-heading {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

footer {
    font-size: 0.8rem;
}

.footer-heading {
    font-size: 0.9rem;
    text-decoration: underline;
    color: #CB00F8;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.footer-link {
    text-decoration: none;
    color: white;
}

.footer-link:hover {
    color: #01FEFF;
    /* border-bottom: 0.5px solid #01FEFF; */
}

.back-to-top-link {
    color: #CB00F8;
}

.back-to-top-link:hover {
    text-decoration: none;
    color: #01FEFF;
}

.form-select:focus {
    box-shadow: 0px 0px 10px 2px rgba(203, 0, 248, 0.6)
}

.reset-button-div {
    display: flex;
    justify-content: flex-end;
}

.reset-button {
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
}

.reset-button:hover {
    color: #01FEFF;
    box-shadow: 0px 0px 10px 2px rgba(203, 0, 248, 0.6);
}
.reset-button:focus {
    color: white;
    box-shadow: 0px 0px 10px 2px rgba(203, 0, 248, 0.6);
}

@media only screen and (max-width: 425px) {
    .today-img {
        width: 90%;
    }
    .card {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .card {
        height: 14rem;
        width: 85%;
    }
    .button {
        width: 20%;
    }
}

@media only screen and (min-width: 1024px) {
    .header-img {
        width: 70%;
    }
    .today-img {
        width: 60%;
    }
    .button {
        width: 12%;
    }
}

@media only screen and (min-width: 1440px) {
    body {
        margin: 0 auto;
    }
    .header-img {
        width: 50%
    }
    .today-img {
        width: 50%
    }
    .button {
        width: 8%;
    }
}

@media only screen and (min-width: 2560px) {

    body {
        margin: auto;
    }
}