/*
#102542 Oxford Blue   dark blue
#C61C26 red extreme of gradient
#F8D753 yellow extreme of gradient
#CDD7D6 Light Grey    light grey
#B3A394 Grullo     lightbrownish grey
#FFFFFF White        it's white
*/

body{
    background-color: #102542;
    /* background-image: url("/images/background-test.png");
    background-size: 90%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top; */
    padding: 0;
    margin: 0px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dropdown-menu {
    max-height: 265px;
    overflow-y: auto;
}
.bg-bbBlue{
    background-color: #C4DDFE;

}
.bg-lGrey{
    background-color: #CDD7D6;
}
.bg-white{
    background-color: #FFFFFF;
}
.menu-bg{
    background-color: #C61C26;
    /* background-color: #f8d753; */
}
.text-white{
    color: white;
}
.text-oxford{
    color: #102542;
}
select:hover{
    background-color: #f8d753;
}
.map{
    height: 100%;
}
a{ display: flex;
    align-items: center;
    text-decoration: none;
    color: #102542;
}